
.trendingdiv{
    margin-left: 60px;


}

#trendingh{
    color: rgb(215, 75, 228);
    font-size: 28px;
    font-weight: 400px;
    line-height: 40px;

}


.trendimg{
    
    height: 320px;
    width: 220px;
    
}

.container{
    height: 800px;
    width: 1740px;
    display: flex;
justify-content: space-evenly;
flex-wrap: wrap;


}

.divimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 320px;
    width: 220px;
    



}

.diva{
    height: 340px;
    font-size: 19px;
    font-weight: 900;
    color: rgb(255, 166, 0);
    text-decoration: none;
}



#div3{
    background-color: rgb(58, 56, 56);
    width: 1700px;
    margin-left: 60px;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.div3{
    
    width: 540px;
    height: 900px;
    display: flex;
    background-color: gray;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
 }


 .hdiv3{
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 187, 0);
 }


 .subdiv3{
    display: flex;
    flex-direction: row;
    margin-left: 10px;

 }


 .subimg3{
    height: 90px;
    width: 70px;

 }

 .div3hr{
    color: aliceblue;
    width: 537px;
 }

 .subh{
    margin-left: 30px;
    font-size: 23px;
    color: snow;
 }






 .randomdiv{
    margin-left: 60px;
    width: 1300px;
    display: inline-block;


}

#randomh{
    color: rgb(215, 75, 228);
    font-size: 28px;
    font-weight: 400px;
    line-height: 40px;

}


.rimg{
    
    height: 320px;
    width: 220px;
    
}

.randomcontainer{
    height: 1700px;
    width: 1300px;
    display: flex;
justify-content: space-evenly;
flex-wrap: wrap;


}

.rdivimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 320px;
    width: 220px;
    



}

.rdiva{
    height: 340px;
    font-size: 19px;
    font-weight: 900;
    color: rgb(255, 166, 0);
    text-decoration: none;
}



#sidebar{
    display: inline-block;
    width: 380px;
    height: 1900px;
    margin-left: 40px;
    position: absolute;
    top: 1910px;
}


#movies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 380px;
    height: 1140px;
    background-color: rgb(44, 43, 43);
}

#movieh{
    display: inline;
    color: rgb(255, 187, 0);
    text-decoration: underline double purple ;
}

.movieimg{ height: 90px;
width: 70px;}


.moviediv{
    width:360px ;
    height: 70px;
    display: flex;
    flex-direction: row;
    
}


.moviea{
    width:360px ;
    height: 70px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.mhr{
    width: 300px;
    color: aliceblue;
}


.moviesubh{
    margin-left: 20px;
    color: white;
}




#yearcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 380px;
    height: 600px;
    background-color: rgb(44, 43, 43);
}


.subyear{
    
    height: 450px;
    
}

.yeara{
    margin-left: 10px;
}

.yeara{
    text-decoration: none;
}