body {
    background-image: url("https://th.bing.com/th/id/R.cb3ea77bc303d8e379aca0c0916cafac?rik=Y6DYZIYKjjA3ag&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2f9%2f2%2f29702.jpg&ehk=XzBkKN86zXbM%2fLyfdNITGljJEUEH%2blam0UL%2btdeZRA8%3d&risl=&pid=ImgRaw&r=0");
    color: white;
    background-size: cover;
}



#navbar {
    background-image: url(https://wallpaperbat.com/img/533262-desktop-wallpaper-glitter-fur-abstract-art-hd-image-picture-background-91f880.jpg);
    border: 2px solid rgb(250, 172, 3);
    height: 55px;
    width: 1890px;
    position: fixed;
    top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}







#weebtoonbutton {

    background-color: rgb(250, 162, 0);
    color: white;
    transition: all 500ms ease-in-out 1ms;
}

#weebtoonbutton:hover {

    background-color: yellow;
    color: gray;
    border: 2px solid snow;
    font-weight: 700;
    font-size: 20px;
}

#weebtoonbutton:active {

    background-color: white;
    color: orangered;
    border: 2px solid black;
    font-size: 25px;
}







#nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: -300px;
}

.nav {
    font-size: 20px;
    font-weight: 800;
}


.nav:hover {
    color: yellow;
}

.nav:active {
    color: orangered;
}





#logo {
    font-size: 40px;
    color: rgb(247, 150, 5);
    font-weight: 900;
    margin-right: 30px;



}



#searchtab {
    margin-left: -480px;
    display: inline-block;

}


#searchbar {
    height: 20px;
    width: 300px;
}







#account {

    margin-left: 00px;
    margin-right: 0px;

}

#login {

    background-color: rgb(255, 196, 0);
    color: white;
    width: 110px;
    border-radius: 15px;
    height: 35px;
    margin: 10px;
    transition: all 400ms ease-in-out 1ms;
}


#login:hover {
    background-color: yellow;
    border: 2px solid snow;
    color: gray;
    font-size: 20px;
    font-weight: 700;
}


#login:active {
    background-color: white;
    border: 2px solid black;
    color: orangered;
    font-size: 25px;
}




.animetrending{
    margin-left: 60px;

}


#summary1 {
    font-size: 30px;
}



#trending{
    color: rgb(215, 75, 228);
    font-size: 28px;
    font-weight: 400px;
    line-height: 40px;

}

.trendname1{
    display: inline;
    color: rgb(255, 166, 0);
    text-decoration: double underline purple 
    
}



#heading1one {
    font-size: 50px;
    text-decoration: purple double underline;
    color: rgb(255, 196, 0);
}


#heading1three {
    text-align: center;
    color: rgb(255, 187, 0);
    text-decoration: double purple underline;
    font-size: 50px;
    font-weight: bolder;
}


#heading1two {
    font-size: 50px;
    text-decoration: purple double underline;
    font-weight: bolder;
    color: rgb(255, 187, 0);

}


.heading {
    text-align: center;
    font-size: 30px;
    text-decoration: underline rgb(255, 187, 0);
}



#heading2one {
    font-size: 30px;
}




#heading2two,
#heading2three {
    color: rgb(255, 187, 0);
    text-decoration: underline double purple;
}



#heading2four,
#heading2five,
#heading2six,
#heading2seven {
    font-size: 30px;
    text-decoration: underline rgb(255, 187, 0);
}




p {

    text-align: center;
    font-style: italic;
    font-size: 20px;
}


.trendimg{
    display: inline;
    height: 320px;
    width: 220px;
    margin-left: 15px;
}

#image2,
#image3,
#image4,
#image5 {
    width: 360px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 500px
}





button {
    text-align: center;
    font-size: 20px;
    background-color: rgb(136, 30, 235);
    transition: all 400ms ease-in-out 1ms;
}

button:hover {
    color: grey;
    background-color: blue;
    border: 2px solid snow;
    font-size: 30px;
}

button:active {
    color: rgb(255, 174, 0);
    background-color: snow;
    border: purple 2px solid
}


a {
    text-decoration: none;
    color: azure;
}





iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
}




footer {
    background-color: rgb(136, 30, 235);
    height: 300px;
    font-weight: 400;
    font-size: medium;
    border: 2px solid rgb(255, 174, 0);
    padding-top: 100px;
    padding-left: 40px;
    background-image: url("https://i.pinimg.com/originals/62/3c/b6/623cb658fb8a7a3fbddb359f93b27501.jpg");
    background-size: cover;
}