body {
    background-image: url("https://th.bing.com/th/id/R.cb3ea77bc303d8e379aca0c0916cafac?rik=Y6DYZIYKjjA3ag&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2f9%2f2%2f29702.jpg&ehk=XzBkKN86zXbM%2fLyfdNITGljJEUEH%2blam0UL%2btdeZRA8%3d&risl=&pid=ImgRaw&r=0");
    color: white;
    background-size: cover;
}

#navbar {
    background-color: rgb(123, 9, 230);
    border: 2px solid rgb(250, 172, 3);
    height: 55px;
    width: 1860px;
    position: fixed;
    top: 1px;
    align-items: center;



}


#weebtoonbutton {

    background-color: rgb(250, 162, 0);
    color: white;
    margin-right: 200px;
}


.nav {
    font-size: 20px;
    margin-right: 200px;
    text-align: end;
    font-weight: 800;


}

#logo {
    font-size: 40px;
    color: rgb(247, 150, 5);
    margin-right: 300px;
    font-weight: 900;
    margin-right: 30px;



}

#searchtab {
    height: 20px;
    width: 300px;
}

#account {

    margin-left: 300px;
    margin-right: 0px;

}

#login {

    background-color: rgb(255, 196, 0);
    color: white;
    width: 110px;
    border-radius: 15px;
    height: 35px;
}


#summary1 {
    font-size: 30px;
}

#heading1one {
    font-size: 50px;
    text-decoration: purple double underline;
}

p {

    text-align: center;
    font-style: italic;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    text-align: center;
}

#heading2one {
    font-size: 30px;
}

button {
    text-align: center;
    font-size: 20px;
    background-color: rgb(136, 30, 235)
}

a {
    text-decoration: none;
    color: azure;
}

#heading1two {
    font-size: 50px;
    text-decoration: purple double underline;
    font-weight: bolder;

}

#heading2four,
#heading2five,
#heading2six,
#heading2seven {
    font-size: 30px;
    text-decoration: underline;
}

iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
}




footer {
    background-color: rgb(136, 30, 235);
    height: 300px;
    font-weight: 400;
    font-size: medium;
    border: 2px solid rgb(255, 174, 0);
    padding-top: 100px;
    padding-left: 40px;
    background-image: url("https://i.pinimg.com/originals/62/3c/b6/623cb658fb8a7a3fbddb359f93b27501.jpg");
    background-size: cover;
    
    
}
#foot{
    margin-left: 80px;
    display: inline;
}